In [21]:
import pandas as pd 
import numpy as np
data = pd.read_csv("city_temperature.csv")
data.dropna(inplace=True) 
df = data.loc[0:, ["State", "City", "Month", "Day", "Year", "AvgTemperature"]] 
my_df = df.loc[df.State != "Additional Territories"] 
my_df

C:\Users\jonco\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

           State        City  Month  Day  Year  AvgTemperature
1450990  Alabama  Birmingham      1    1  1995            50.7
1450991  Alabama  Birmingham      1    2  1995            37.2
1450992  Alabama  Birmingham      1    3  1995            33.2
1450993  Alabama  Birmingham      1    4  1995            33.3
1450994  Alabama  Birmingham      1    5  1995            26.4
...          ...         ...    ...  ...   ...             ...
2899535  Wyoming    Cheyenne      5    9  2020            42.3
2899536  Wyoming    Cheyenne      5   10  2020            43.1
2899537  Wyoming    Cheyenne      5   11  2020            37.8
2899538  Wyoming    Cheyenne      5   12  2020            41.9
2899539  Wyoming    Cheyenne      5   13  2020            48.5

[1448550 rows x 6 columns]

In [22]:
print(list(my_df['Month'].unique())) 
print(list(my_df['Day'].unique())) 
print(list(my_df['Year'].unique())) 
print(list(my_df['State'].unique()))
print(list(my_df['City'].unique()))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
[1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Maryland', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
['Birmingham', 'Huntsville', 'Mobile', 'Montgomery', 'Anchorage', 'Fairbanks', 'Juneau', 'Flagstaff', 'Phoenix', 'Tucson', 'Yuma', 'Fort Smith', 'Little Rock', 'Fresno', 'Los Angeles', 'Sacramento', 'San Diego', 'San Francisco', 'Colorado Springs', 'Denver', 'Grand Junction', 'Pueblo', 'Bridgeport', 'Hartford Springfield', 'Wilmington', 'Washington', 'Washington DC', 'Daytona Beach', 'Jacksonville', 'Miami Beach', 'Orlando', 'Tallahassee', 'Tampa St. Petersburg', 'West Palm Beach', 'Atlanta', 'Columbus', 'Macon', 'Savannah', 'Honolulu', 'Boise', 'Pocatello', 'Chicago', 'Peoria', 'Rockford', 'Springfield', 'Evansville', 'Fort Wayne', 'Indianapolis', 'South Bend', 'Des Moines', 'Sioux City', 'Goodland', 'Topeka', 'Wichita', 'Lexington', 'Louisville', 'Paducah', 'Baton Rouge', 'Lake Charles', 'New Orleans', 'Shreveport', 'Caribou', 'Portland', 'Baltimore', 'Boston', 'Detroit', 'Flint', 'Grand Rapids', 'Lansing', 'Sault Ste Marie', 'Duluth', 'Minneapolis St. Paul', 'Jackson', 'Tupelo', 'Kansas City', 'St Louis', 'Billings', 'Great Falls', 'Helena', 'Lincoln', 'North Platte', 'Omaha', 'Reno', 'Las Vegas', 'Concord', 'Atlantic City', 'Newark', 'Albuquerque', 'Albany', 'Buffalo', 'New York City', 'Rochester', 'Syracuse', 'Asheville', 'Charlotte', 'Greensboro', 'Raleigh Durham', 'Bismarck', 'Fargo', 'Akron Canton', 'Cincinnati', 'Cleveland', 'Dayton', 'Toledo', 'Youngstown', 'Oklahoma City', 'Tulsa', 'Eugene', 'Medford', 'Salem', 'Allentown', 'Erie', 'Harrisburg', 'Philadelphia', 'Pittsburgh', 'Wilkes Barre', 'Rhode Island', 'Charleston', 'Columbia', 'Rapid City', 'Sioux Falls', 'Chattanooga', 'Knoxville', 'Memphis', 'Nashville', 'Abilene', 'Amarillo', 'Austin', 'Brownsville', 'Corpus Christi', 'Dallas Ft Worth', 'El Paso', 'Houston', 'Lubbock', 'Midland Odessa', 'San Angelo', 'San Antonio', 'Waco', 'Wichita Falls', 'Salt Lake City', 'Burlington', 'Norfolk', 'Richmond', 'Roanoke', 'Seattle', 'Spokane', 'Yakima', 'Elkins', 'Green Bay', 'Madison', 'Milwaukee', 'Casper', 'Cheyenne']

In [23]:
months_ordered = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
my_df['Month'] = pd.Categorical(my_df['Month'], months_ordered, ordered=True)  

median_months = np.median(my_df['Month'].cat.codes)
print(median_months) 

median_months_category = months_ordered[int(median_months)]
print(median_months_category)

5.0
6

<ipython-input-23-73ff103de1e9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['Month'] = pd.Categorical(my_df['Month'], months_ordered, ordered=True)

In [24]:
days_ordered = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31] 
my_df['Day'] = pd.Categorical(my_df['Day'], days_ordered, ordered=True)   

median_day = np.median(my_df['Day'].cat.codes)
print(median_day) 

median_day_category = days_ordered[int(median_day)]
print(median_day_category)

15.0
16

<ipython-input-24-32cab4b9a708>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['Day'] = pd.Categorical(my_df['Day'], days_ordered, ordered=True)

In [25]:
years_ordered = [1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
my_df['Year'] = pd.Categorical(my_df['Year'], years_ordered, ordered=True)

median_year = np.median(my_df['Year'].cat.codes)
print(median_year) 

median_year_category = years_ordered[int(median_year)]
print(median_year_category)

12.0
2007

<ipython-input-25-b2d78319cc9e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['Year'] = pd.Categorical(my_df['Year'], years_ordered, ordered=True)

In [26]:
states_ordered = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Maryland', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
my_df['State'] = pd.Categorical(my_df['State'], states_ordered, ordered=True)

median_state = np.median(my_df['Year'].cat.codes)
print(median_state) 

median_state_category = states_ordered[int(median_state)]
print(median_state_category)

12.0
Hawaii

<ipython-input-26-a286ba601dbc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['State'] = pd.Categorical(my_df['State'], states_ordered, ordered=True)

In [27]:
cities_ordered = ['Birmingham', 'Huntsville', 'Mobile', 'Montgomery', 'Anchorage', 'Fairbanks', 'Juneau', 'Flagstaff', 'Phoenix', 'Tucson', 'Yuma', 'Fort Smith', 'Little Rock', 'Fresno', 'Los Angeles', 'Sacramento', 'San Diego', 'San Francisco', 'Colorado Springs', 'Denver', 'Grand Junction', 'Pueblo', 'Bridgeport', 'Hartford Springfield', 'Wilmington', 'Washington', 'Washington DC', 'Daytona Beach', 'Jacksonville', 'Miami Beach', 'Orlando', 'Tallahassee', 'Tampa St. Petersburg', 'West Palm Beach', 'Atlanta', 'Columbus', 'Macon', 'Savannah', 'Honolulu', 'Boise', 'Pocatello', 'Chicago', 'Peoria', 'Rockford', 'Springfield', 'Evansville', 'Fort Wayne', 'Indianapolis', 'South Bend', 'Des Moines', 'Sioux City', 'Goodland', 'Topeka', 'Wichita', 'Lexington', 'Louisville', 'Paducah', 'Baton Rouge', 'Lake Charles', 'New Orleans', 'Shreveport', 'Caribou', 'Portland', 'Baltimore', 'Boston', 'Detroit', 'Flint', 'Grand Rapids', 'Lansing', 'Sault Ste Marie', 'Duluth', 'Minneapolis St. Paul', 'Jackson', 'Tupelo', 'Kansas City', 'St Louis', 'Billings', 'Great Falls', 'Helena', 'Lincoln', 'North Platte', 'Omaha', 'Reno', 'Las Vegas', 'Concord', 'Atlantic City', 'Newark', 'Albuquerque', 'Albany', 'Buffalo', 'New York City', 'Rochester', 'Syracuse', 'Asheville', 'Charlotte', 'Greensboro', 'Raleigh Durham', 'Bismarck', 'Fargo', 'Akron Canton', 'Cincinnati', 'Cleveland', 'Dayton', 'Toledo', 'Youngstown', 'Oklahoma City', 'Tulsa', 'Eugene', 'Medford', 'Salem', 'Allentown', 'Erie', 'Harrisburg', 'Philadelphia', 'Pittsburgh', 'Wilkes Barre', 'Rhode Island', 'Charleston', 'Columbia', 'Rapid City', 'Sioux Falls', 'Chattanooga', 'Knoxville', 'Memphis', 'Nashville', 'Abilene', 'Amarillo', 'Austin', 'Brownsville', 'Corpus Christi', 'Dallas Ft Worth', 'El Paso', 'Houston', 'Lubbock', 'Midland Odessa', 'San Angelo', 'San Antonio', 'Waco', 'Wichita Falls', 'Salt Lake City', 'Burlington', 'Norfolk', 'Richmond', 'Roanoke', 'Seattle', 'Spokane', 'Yakima', 'Elkins', 'Green Bay', 'Madison', 'Milwaukee', 'Casper', 'Cheyenne']
my_df['City'] = pd.Categorical(my_df['City'], cities_ordered, ordered=True) 

median_city = np.median(my_df['City'].cat.codes)
print(median_city) 

median_city_category = cities_ordered[int(median_city)]
print(median_city_category)

75.0
St Louis

<ipython-input-27-079a344e08c9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['City'] = pd.Categorical(my_df['City'], cities_ordered, ordered=True)

In [28]:
print(my_df["AvgTemperature"].min()) 
print(my_df["AvgTemperature"].max())
print(my_df["AvgTemperature"].mean())
print(my_df["AvgTemperature"].median())
print(my_df["AvgTemperature"].std())
print(my_df["AvgTemperature"].var())

-99.0
107.7
56.09741175658377
58.6
20.693779643382275
428.2325159288626