In [1]:
import pandas as pd 
import numpy as np
data = pd.read_csv("city_temperature.csv")
data.dropna(inplace=True) 
df = data.loc[0:, ["State", "City", "Month", "Day", "Year", "AvgTemperature"]] 
my_df = df.loc[df.State != "Additional Territories"] 
my_df

C:\Users\jonco\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

           State        City  Month  Day  Year  AvgTemperature
1450990  Alabama  Birmingham      1    1  1995            50.7
1450991  Alabama  Birmingham      1    2  1995            37.2
1450992  Alabama  Birmingham      1    3  1995            33.2
1450993  Alabama  Birmingham      1    4  1995            33.3
1450994  Alabama  Birmingham      1    5  1995            26.4
...          ...         ...    ...  ...   ...             ...
2899535  Wyoming    Cheyenne      5    9  2020            42.3
2899536  Wyoming    Cheyenne      5   10  2020            43.1
2899537  Wyoming    Cheyenne      5   11  2020            37.8
2899538  Wyoming    Cheyenne      5   12  2020            41.9
2899539  Wyoming    Cheyenne      5   13  2020            48.5

[1448550 rows x 6 columns]

In [2]:
states_prop_1 = my_df['State'].value_counts()/len(my_df['State']) 
states_prop_1.head()

Texas           0.089545
Ohio            0.044772
Florida         0.042346
Pennsylvania    0.035950
Michigan        0.031980
Name: State, dtype: float64

In [3]:
states_prop_2 = my_df['State'].value_counts(normalize=True)
states_prop_2.head()

Texas           0.089545
Ohio            0.044772
Florida         0.042346
Pennsylvania    0.035950
Michigan        0.031980
Name: State, dtype: float64

In [5]:
# Create proportions - Excluding Null Responses
proportions = my_df['State'].value_counts(normalize=True)
print(proportions)

Texas                   0.089545
Ohio                    0.044772
Florida                 0.042346
Pennsylvania            0.035950
Michigan                0.031980
New York                0.031980
California              0.031980
Oregon                  0.025584
Alabama                 0.025584
Colorado                0.025584
Illinois                0.025584
Indiana                 0.025584
Tennessee               0.025584
Georgia                 0.025584
North Carolina          0.025584
Louisiana               0.023191
Maryland                0.019188
Missouri                0.019188
Washington              0.019188
Nebraska                0.019188
Kansas                  0.019188
Virginia                0.019188
Wisconsin               0.019188
Alaska                  0.019188
Kentucky                0.019188
Montana                 0.019187
Arizona                 0.018283
Iowa                    0.012792
South Dakota            0.012792
West Virginia           0.012792
Minnesota               0.012792
Nevada                  0.012792
Idaho                   0.012792
Oklahoma                0.012792
North Dakota            0.012792
South Carolina          0.012792
Mississippi             0.012792
Maine                   0.012792
Connecticut             0.012792
New Jersey              0.012792
Wyoming                 0.012792
District of Columbia    0.012792
Arkansas                0.012792
Hawaii                  0.006396
Massachusetts           0.006396
New Mexico              0.006396
Vermont                 0.006396
New Hampshire           0.006396
Utah                    0.006396
Rhode Island            0.006396
Delaware                0.003970
Name: State, dtype: float64

In [6]:
# Create proportions - Include Null Responses
proportions_2 = my_df['State'].value_counts(normalize=True, dropna=False)
print(proportions_2)

Texas                   0.089545
Ohio                    0.044772
Florida                 0.042346
Pennsylvania            0.035950
Michigan                0.031980
New York                0.031980
California              0.031980
Oregon                  0.025584
Alabama                 0.025584
Colorado                0.025584
Illinois                0.025584
Indiana                 0.025584
Tennessee               0.025584
Georgia                 0.025584
North Carolina          0.025584
Louisiana               0.023191
Maryland                0.019188
Missouri                0.019188
Washington              0.019188
Nebraska                0.019188
Kansas                  0.019188
Virginia                0.019188
Wisconsin               0.019188
Alaska                  0.019188
Kentucky                0.019188
Montana                 0.019187
Arizona                 0.018283
Iowa                    0.012792
South Dakota            0.012792
West Virginia           0.012792
Minnesota               0.012792
Nevada                  0.012792
Idaho                   0.012792
Oklahoma                0.012792
North Dakota            0.012792
South Carolina          0.012792
Mississippi             0.012792
Maine                   0.012792
Connecticut             0.012792
New Jersey              0.012792
Wyoming                 0.012792
District of Columbia    0.012792
Arkansas                0.012792
Hawaii                  0.006396
Massachusetts           0.006396
New Mexico              0.006396
Vermont                 0.006396
New Hampshire           0.006396
Utah                    0.006396
Rhode Island            0.006396
Delaware                0.003970
Name: State, dtype: float64